:root {
    --primary: #00baf2;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#header{
    min-height: 90vh;
    background-image: url("../img/hrz-5.jpg");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    
   

    
}
#header::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1;  /*Garante que a sobreposição ficará acima da imagem*/
    width: 100%;
    height: 91%;
}

/* Texto acima da camada de transparencia */
#header > * {
    position: relative;
    z-index: 2;
}
.container {
    display: flex;
    padding: 5rem;
    align-items: normal;
    
 

    
}

.square{ 
                    
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width:50%;
    height: 50%;
    text-align: justify;
    margin-top: 100px;
    font-size: 20px;
    margin-right: 10%;/*espaçamento entre divs*/
  
    
}

    
.containerform{
    background-color: var(--secondary);
    padding: 10px;
    justify-content: center;
    align-items: center;
    width:50%;
    

}

.form_box{
    display: block;
    border-radius: 10px;
    align-self: center;
}

.form_box .title{
    padding: 24px 32 px;
    font-size: 24px;
    flex-wrap: wrap;
    text-align: center;
   
}

.form_box form{
    /* display: flex;
    align-items:normal;
    /* flex-wrap: wrap; */
    padding: 32px;
}

.form_box input{
    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom:16px;
    font-size: 16px;
}

.form_box input:first-child{
    margin-right: 16px; 
}

.form_box p{
    font-size: 16px;
    color: var(--text-secondary);
    padding: 4px;
}

.form_box select{

    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom:16px;
    font-size: 16px;
}
    
.form_box button{
    background-color: var(--primary);
    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #00baf2;
    text-transform: uppercase;
    -webkit-text-fill-color: var(--text-color);

}

.square h1{
    color: var(--primary);
    
    
}
.square p{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-top:2rem;
    padding-bottom: 2rem;

}

.square h4{
    color: var(--text-color);
    padding-bottom: 1rem;
}

.square h5{
    color: var(--primary);
}

/* Aprender */

.learn {
    
    width:100%;
    
    display:inline-block;
    align-items: center;
   
}
.aprend h1{
 text-align: center;
 padding-bottom: 50px;
 background-color: var(--secondary);
 margin-top: auto;
 padding-top: 2.5rem;

}

#imgs{
    background-color: var(--text-color);
    display: flex;
    gap: 3rem;
    width: 100%;
    height: 40vh;
    /* align-items: center; */       
}


.circle img{
    width: 100%;
    max-width: 40%;
    margin: 30px;
    aspect-ratio: 1 / 1; /* Utilizar quando a imagem for retangular*/
    object-fit: cover;   /* Utilizar quando a imagem for cortar o objeto*/
    border-radius: 100%;
    height: auto;
}

.circle1 img{
    width: 100%;
    max-width: 40%;
    margin: 30px;
    aspect-ratio: 1 / 1; /* Utilizar quando a imagem for retangular*/
    object-fit: cover;   /* Utilizar quando a imagem for cortar o objeto*/
    border-radius: 100%;
    height: auto;
}

.circle2 img{
    width: 100%;
    max-width: 40%;
    margin: 30px;
    aspect-ratio: 1 / 1; /* Utilizar quando a imagem for retangular*/
    object-fit: cover;   /* Utilizar quando a imagem for cortar o objeto*/
    border-radius: 100%;
    height: auto;
    padding: auto;
}

.parag{
    display: inline-flex;
    font-size: 16px;
    text-align: center;
    margin-top: 15%;
    position: absolute;
    z-index: 1;
    gap: 9px;
    /* margin-to; */
    align-content: space-between;    
    
}

/* Local de Destaque */
#local {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-image: url('../img/hrz-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    
    
    
}


#local ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Cor preta com 50% de opacidade */
    z-index: -1;  /*Garante que a sobreposição ficará acima da imagem*/
    
}

.info{
    display: flex;
    width: 50%;
    
}

.info-i{
    display: flex;
    align-items: center;
    width: 5%;
    margin: 30px;
    padding-left: 10px;
    
}
.info-i{
    color: var(--primary);
    font-size: 40px
}
.info  p {
    color: var(--text-color);
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    word-break: break-word;
    width: 45%;
    margin-top: 35px;
    margin-right: 200px;

}


.destaque{
    color: var(--text-color);
    background-color: none;
    text-align: left;
    width: 50%;
        
}

.destaque h1{
    color: var(--primary);
    text-transform: uppercase;
    padding: 1rem;
    
    
}

/* Ambientes */
.img{
    display: flex;
    padding: 5rem;
    align-items: normal;
}

.foto{
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 50%;
    height: 50%;
    margin-right: 10%;
    display: flex;
}
.foto img{ 
    width: 100%;
    height: auto;
    
}

.text{
    display: block;
    align-self: center;
    text-align: center;
}

.img1{
    display: flex;
    padding: 5rem;
    align-items: normal;
}

.foto1{
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 50%;
    height: 50%;
    display: flex;
}
.foto1 img{ 
    width: 100%;
    height: auto;
    
}

.text1{
    display: block;
    border-radius: 10px;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    line-height: 25px;
    
    
}

.img2{
    display: flex;
    padding: 5rem;
    align-items: normal;
}

.foto2{
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 50%;
    height: 50%;
    display: flex;
}
.foto2 img{ 
    width: 100%;
    height: auto;
    
}

.text2{
    display: block;
    border-radius: 10px;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    gap: 5rem;
    line-height: 25px;
    
}

.bold{
    font-weight: bold;
    
}

/* Inscreva-se */

#imga {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-image: url('../img/hrz-6.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

#imga::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Cor preta com 50% de opacidade */
    z-index: -1;  Garante que a sobreposição ficará acima da imagem
    width: 100%;
    height: 100%;
}

.gostou{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: normal;
    margin: 30%;
    padding: 10px;
    
    
}
.gostou h1{
   color: var(--text-color);
   align-items: center;
   text-align: start;
   font-size: 35px;

   
}
.btn{
    background-color: var(--primary);
    width: 500px;
    height: 50px;
    border-radius: 8px;
    border: thin solid #00baf2;
    text-transform: uppercase;
    -webkit-text-fill-color: var(--text-color);
    align-content: center;
    font-weight: bold;
}

#end{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--secondary);
    padding: 3rem;
}

