:root {
    --primary: #00baf2;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#header{
    min-height: 90vh;
    background-image: url("../img/hrz-5.jpg");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.5);

    
}
#header::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1; Garante que a sobreposição ficará acima da imagem
}

/* Texto acima da camada de transparencia */
#header > * {
    position: relative;
    z-index: 2;
}
.container {
    display: flex;
    padding: 5rem;
    align-items: normal;
    
 

    
}

.square{ 
                    
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width:50%;
    height: 50%;
    text-align: justify;
    margin-top: 100px;
    font-size: 20px;
    margin-right: 10%;/*espaçamento entre divs*/
  
    
}

    
.containerform{
    background-color: var(--secondary);
    padding: 10px;
    justify-content: center;
    align-items: center;
    width:50%;
   
    

}

.form_box{
    display: block;
    border-radius: 10px;
    align-self: center;
}

.form_box .title{
    padding: 24px 32 px;
    font-size: 24px;
    flex-wrap: wrap;
    text-align: center;
   
}

.form_box form{
    /* display: flex;
    align-items:normal;
    /* flex-wrap: wrap; */
    padding: 32px;
}

.form_box input{
    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom:16px;
    font-size: 16px;
}

.form_box input:first-child{
    margin-right: 16px; 
}

.form_box p{
    font-size: 16px;
    color: var(--text-secondary);
    padding: 4px;
}

.form_box select{

    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom:16px;
    font-size: 16px;
}
    
.form_box button{
    background-color: var(--primary);
    width: calc(100% - 10px);
    height: 50px;
    border-radius: 8px;
    border: thin solid #00baf2;
    text-transform: uppercase;
    -webkit-text-fill-color: var(--text-color);

}

.square h1{
    color: var(--primary);
    
    
}
.square p{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 25px;
    font-weight: bold;
    padding-top:2rem;
    padding-bottom: 2rem;

}

.square h4{
    color: var(--text-color);
    padding-bottom: 1rem;
}

.square h5{
    color: var(--primary);
}


.learn {
    background-color: var(--text-color);
    width:100%;
    height: 90vh;
    display: flex;
    align-items: center;
    
}
.aprend h1{
 text-align: top;
 padding-bottom: 200%;
 background-color: var(--secondary)

}